*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #555764;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-content{
    background: linear-gradient(
        50deg,
        rgba(40,42,55,1)50%,
        rgba(40,42,55,0.7)),
        url(../img/img.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover ;
        padding: 50px;
        width: 1000px;
        border-radius: 25px;    
}
.form-content h2{
    color: #f4f6f9;
    font-size: 40px;
    margin-bottom: 25px;

}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
}
label{
    font-size: 17px;
    color: #959aab;
    margin-bottom: 10px;
}
input, textarea{
    padding: 17px 14px;
    background-color: #333646;
    border: 0;
    font-size: 15px;
    color: #f4f6f9;
    margin-bottom: 20PX;
    border-radius: 10PX;
}

:focus{
    outline: 1px solid #1E92E9;
}
.btn{
    background-color: #1E92E9;
    width: 150px;
    align-self: flex-end;
    cursor: pointer;
}
.btn:hover{
    background-color: #1E92E9;
}
@media(max-width:991px) {
    body{
        padding: 30px;
    }
    .form-content{
        width: 100%;
    }
    form{
        width: 100%;
    }
}
/* Estilo para el contenedor de la lista desplegable */
.custom-select {
    position: relative;
    display: inline-block;
    background-color: #555764;
}

/* Estilo para la lista desplegable */
.custom-select select {
    display: none; /* Ocultar la lista desplegable nativa */
}

/* Estilo para el botón de la lista desplegable */
.custom-select .select-btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

/* Estilo para los elementos de la lista desplegable */
.custom-select .select-items {
    position: absolute;
    display: none;
    background-color: #333646;;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow-y: auto;
    max-height: 200px;
    z-index: 1;
}

/* Estilo para los elementos de la lista desplegable */
.custom-select .select-items div {
    padding: 8px 16px;
    cursor: pointer;
}

/* Estilo para los elementos de la lista desplegable al pasar el ratón */
.custom-select .select-items div:hover {
    background-color: #f9f9f9;
}